body {
  background: url("http://i.imgur.com/ktSM48q.png");

     background-repeat: repeat;
}
.work img {
  width: 330px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #BFBDC1;


}

.upper {
  padding-top: 30px;
  padding-bottom: 30px;

}

/*.work {
  width: 1200px;
}*/
