body {
  background-color: #27374A;
}

h1 {
  color: #4C6875;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px;
  text-align: center;
}

.navbar-default {
  background-color: #EFE8E1;
}

.navbar-default .navbar-nav > li > a {
   color: #4C6875;
   font-family: 'Ubuntu', sans-serif;
   text-transform: uppercase;
   font-size: 18px;
}

.work img {
  width: 330px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #546A7B;
}

.upper {
  padding-top: 50px;
  padding-bottom: 30px;
}

.lower {
  text-align: center;
  color: #d3d3d3;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.lower h3 {
  color: #4C6875;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
}

.social {
  width: 100px;
}
