body {
  background: url("http://i.imgur.com/6PwbjS6.png");

     background-repeat: repeat;
}

.navbar-default {
  background-color: #EFE8E1;


}
.navbar-default .navbar-nav > li > a {
   color: #4C6875;
   font-family: 'Ubuntu', sans-serif;
   text-transform: uppercase;
   font-size: 18px;
    }
    
.profile {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 7px solid hotpink;
  margin-top: 30px;

}
.intro {
  text-align: center;
}

.aboutme h1 {
  color: #4C6875;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px;
}

.aboutme {
  text-align: justify;
  color: #55535B;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  display: flex;
}

.abouttext {
  padding-right: 50px;
}
